{% extends './partials/layout.html' %}

{% block content %}

<h1>This is my about me page</h1>

<h3>Click down here to navigate</h3>
<ul>
    <a href="http://127.0.0.1:5000/">Home</a>
    <a href="http://127.0.0.1:5000/about">About page</a>
    <a href="http://127.0.0.1:5000/register">Register</a>
    <a href="http://127.0.0.1:5000/login">Login</a>
    <a href="http://127.0.0.1:5000/blog">Blog</a>
</ul>

<ul>
    <li>Lorem ipsum dolor sit.</li>
    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae cumque magni placeat eveniet aspernatur fuga, perspiciatis amet delectus dolores aperiam corporis! Dignissimos quaerat deserunt necessitatibus nesciunt sit laudantium quis exercitationem.</li>
    <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</li>
    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis illum perspiciatis eum?</li>
    <li>Lorem ipsum dolor sit amet.</li>
</ul>


{% endblock content %}